
:root {
  font-family: cambriabold;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  position: relative;
}

body {
  width: 100%;
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.content {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
